/* map colors */
.m5 {
  background-color: #00174f;
}

.m4 {
  background-color: #66bdf6;
}

.m3 {
  background-color: #2471db;
}

.m2 {
  background-color: #0832A7;
}

.m1 {
  background-color: #9FD9FF;
}

.m0 {
  background-color: #999999;
  transition: background-color 2s ;
}

.countryCount {
  font-size: 200%;
}

td {
  width: 3vw;
  height: 3vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .group-button {
    margin-top: 20px;
}

.container .group-button :first-child {
    margin-right: 10px;
}